body{
    margin: 20px;
}

.chat{
    background-color: aliceblue;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    /* width: 400px; */
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

